      <div class="panel panel-info">
          <div class="panel-heading panel-info">温湿度一覧</div>
          <div class="panel-body">昆虫の生育環境をモニタします。</div>
      </div>
      <div id="app">
        <%= react_component('TempHumidityList', prerender: false) %>
      </div>
    </div>
